@mixin phone-screen{
    @media (min-width: $display-xs){ @content; }
}
@mixin tablet-screen{
    @media (min-width: $display-sm){ @content; }
}
@mixin desk-screen{
    @media (min-width: $display-md){ @content; }
}
@mixin desk-lg-screen{
    @media (min-width: $display-md){ @content; }
}

// -------------------------------------- //
// -------------------------------------- //
// -------------------------------------- //

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin boton ($width, $height, $colorPrincipal, $colorSecundario){
    width: $width;
    height: $height;
    color: white;
    background-color: $colorPrincipal;
    border: 2px solid $colorSecundario;
    font-size: $text-base;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover{
        background-color: $colorSecundario;
    }
    &:active{
        outline: none;
        box-shadow: 0px 0px 5px #ccc inset;
    }
    &:focus{
        outline: none;
    }
}