//--- screens --- //
$display-xs: 420px;
$display-sm: 740px;
$display-md: 960px;
$display-lg: 1400px;


//--- typography --- //
$text-caption: 12px;
$text-base: 14px;
$text-base-lg: 16px;
$text-subheader: 18px;
$text-title-sm: 22px;
$text-title: 26px;
$text-headline: 30px;

$display-base: 50px;
$display-big: 64px;
$display-jumbo: 80px;

@media (min-width: $display-sm) {
    $text-caption: 14px;
    $text-base: 16px;
    $text-base-lg: 18px;
    $text-subheader: 20px;
    $text-title-sm: 24px;
    $text-title: 28px;
    $text-headline: 34px;

    $display-base: 56px;
    $display-big: 72px;
    $display-jumbo: 96px;
}

//--- colors ---//

$rojo-light: #990b0b27;
$rojo-normal: #990B0B;
$rojo-dark: #4a0505;

$azul-light: #303fa127;
$azul-normal: #303FA1;
$azul-dark: #111638;

$gris-light: #d9d9d9;
$gris-normal: #9E9E9E;
$gris-dark: #494949;

$blanco: #E6E6E6;
$negro: #282833;

//--- gradientes ---//

$rojo-grad: linear-gradient(0deg, #990b0b 15%, #ba1010 50%, #990b0b 85%)