.d-grid {
  display: grid;
  grid-template-columns: $grid-main;
  grid-auto-rows: min-content;
  grid-gap: 0 30px;
}

.d-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.d-none{
    display: none;
}


.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}


.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.align-base{
    align-items: baseline;
}

/* Size: md */
@media (max-width: 900px) {
    .d-grid{
        grid-template-columns: repeat(10, minmax(0, 1fr));
        grid-gap: 20px;
    }
    .d-md-none{
        display: none !important;
    }
    .d-md-block{
        display: block !important;
    }
    .d-md-inline{
        display: inline !important;
    }
    .d-md-inline-block{
        display: inline-block !important;
    }
}

/* Size: sm */
@media (max-width: 700px) {
    .d-grid{
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 15px; 
    }
    .d-sm-none{
        display: none !important;
    }
    .d-sm-block{
        display: block !important;
    }
    .d-sm-inline{
        display: inline !important;
    }
    .d-sm-inline-block{
        display: inline-block !important;
    }
}

/* Size: xs */
@media (max-width: 500px) {
    .d-grid{
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-gap: 10px;
    }
    .d-xs-none{
        display: none !important;
    }
    .d-xs-block{
        display: block !important;
    }
    .d-xs-inline{
        display: inline !important;
    }
    .d-xs-inline-block{
        display: inline-block !important;
    }
}

/* Size: xxs */
@media (max-width: 320px) {
    .d-grid{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 10px;
    }
    .d-xxs-none{
        display: none !important;
    }
    .d-xxs-block{
        display: block !important;
    }
    .d-xxs-inline{
        display: inline !important;
    }
    .d-xxs-inline-block{
        display: inline-block !important;
    }
}