// Breakpoints //
$display-xs: 400px;
$display-sm: 740px;
$display-md: 960px;
$display-lg: 1200px;


.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

.block{ display: block; }
.inline-block{ display: inline-block; }
.inline{ display: inline; }
.hidden{ display: none; }


.justify-start{ justify-content: flex-start; }
.justify-end{ justify-content: flex-end; }
.justify-center{ justify-content: center; }
.justify-around{ justify-content: space-around; }
.justify-between{ justify-content: space-between; }
.justify-evenly{ justify-content: space-evenly; }


.align-start{ align-items: flex-start; }
.align-end{ align-items: flex-end; }
.align-center{ align-items: center; }
.align-base{ align-items: baseline; }

@media (min-width: $display-xs) {
    .grid{ 
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px; 
    }
    .xs-hidden{ display: none !important; }
    .xs-block{ display: block !important; }
    .xs-inline{ display: inline !important; }
    .xs-inline-block{ display: inline-block !important; }
}

@media (min-width: $display-sm) {
    .grid{ 
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 20px; 
    }
    .sm-hidden{ display: none !important; }
    .sm-block{ display: block !important; }
    .sm-inline{ display: inline !important; }
    .sm-inline-block{ display: inline-block !important; }
}

@media (min-width: $display-md) {
    .grid{
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px; 
    }
    .md-hidden{ display: none !important; }
    .md-block{ display: block !important; }
    .md-inline{ display: inline !important; }
    .md-inline-block{ display: inline-block !important; }
}