.col-1, .col-xs-1, .col-sm-1, .col-md-1 { grid-column: span 1; }
.col-2, .col-xs-2, .col-sm-2, .col-md-2 { grid-column: span 2; }
.col-3, .col-xs-3 .col-sm-3, .col-md-3 { grid-column: span 3; }
.col-4, .col-xs-4, .col-sm-4, .col-md-4 { grid-column: span 4; }
.col-quarter{ grid-column: span 2;}
.col-mid, .col-three, .col-full { grid-column: span 4; }

@media (min-width: $display-xs) {
  .col-xs-5, .col-sm-5, .col-md-5 { grid-column: span 5;}
  .col-xs-6, .col-sm-6, .col-md-6 { grid-column: span 6;}

  .col-three, .col-quarter{ grid-column: span 3}
  .col-mid, .col-full { grid-column: span 6; }
}

@media (min-width: $display-sm) {
  .col-sm-7, .col-md-7 {grid-column: span 7;}
  .col-sm-8, .col-md-8 {grid-column: span 8;}

  .col-quarter, .col-three, .col-mid { grid-column: span 4;}
  .col-full { grid-column: span 8;}
}

@media (min-width: $display-md) {
  .col-md-9 { grid-column: span 9;}
  .col-md-10 { grid-column: span 10;}
  .col-md-11 { grid-column: span 11;}
  .col-md-12 { grid-column: span 12;}

  .col-quarter { grid-column: span 3;}
  .col-three { grid-column: span 4;}
  .col-mid { grid-column: span 6;}
  .col-full { grid-column: span 12;}
}
