
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$blue:    #0D58FD;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #E6281E;
$brown:   #7D3E0A;
$orange:  #fd7503;
$yellow:  #ffc107;
$green:   #199E4A;
$cyan:    #0dcaf0;

$blue-100: #a5c1fe;
$blue-200: #729efe;
$blue-300: #407bfd;
$blue-400: $blue;
$blue-500: #0244d5;
$blue-600: #0134a3;
$blue-700: #012470;
    
$indigo-100: #e2d1fd;
$indigo-200: #b891f9;
$indigo-300: #8f50f6;
$indigo-400: $indigo;
$indigo-500: #510bc4;
$indigo-600: #3d0894;
$indigo-700: #290564;

$purple-100: #e4dbf3;
$purple-200: #bda8e3;
$purple-300: #9675d2;
$purple-400: $purple;
$purple-500: #59339d;
$purple-600: #432776;
$purple-700: #2d1a50;

$pink-100: #f8ddea;
$pink-200: #eda4c8;
$pink-300: #e16ca6;
$pink-400: $pink;
$pink-500: #b2246b;
$pink-600: #881b51;
$pink-700: #5d1338;
    
$red-100: #f5aba8;
$red-200: #f0807a;
$red-300: #eb544c;
$red-400: $red;
$red-500: #bc1d15;
$red-600: #8e1610;
$red-700: #600f0b;

$brown-100: #f19a51;
$brown-200: #ed7e22;
$brown-300: #cb6611;
$brown-400: $brown;
$brown-500: #7d3e0a;
$brown-600: #5d2f08;
$brown-700: #3e1f05;

$orange-100: #fec89b;
$orange-200: #feac68;
$orange-300: #fd9136;
$orange-400: $orange;
$orange-500: #dc6502;
$orange-600: #bb5601;
$orange-700: #994601;

$yellow-100: #ffe7a0;
$yellow-200: #ffda6d;
$yellow-300: #ffce3a;
$yellow-400: $yellow;
$yellow-500: #e4ab00;
$yellow-600: #c29200;
$yellow-700: #a07800;
    
$green-100: #95eeb6;
$green-200: #5ae58d;
$green-300: #22d965;
$green-400: $green;
$green-500: #14813c;
$green-600: #10632f;
$green-700: #0d5528;

$cyan-100: #cdf4fc;
$cyan-200: #8ce7f9;
$cyan-300: #4cd9f5;
$cyan-400: $cyan;
$cyan-500: #0aa1c0;
$cyan-600: #08798f;
$cyan-700: #05505f;