.introd {
    margin-top: 16px;
    &-title{
        text-align: center;
    }
}

.info{
    &-title{
        font-size: $text-subheader;
        text-align: center;
    }
    &-card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        min-height: 80px;
        max-height: max-content;
        width: 100%;
        padding-right: 10px;
        box-shadow: 0px 0px 10px #ccc;
    }
    &-img{
        width: 100%;
        height: 100%;
    }
    &-text{
        height: 100%;
    }
}

.food{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    &-title{
        grid-column: span 2;
        text-align: center;
    }
    &-options{
        width: 100%;
        @include flex (column, space-around, center);

        .options-item{
            width: 30px;
            height: 30px;
            padding: 0px;
            font-size: $text-base-lg;
            text-align: center;
            border: 1px solid $azul-dark;
            color: $azul-dark;
            border-radius: 1000px;
            cursor: pointer;
            animation: all 0.2s linear;

            &:hover{
                box-shadow: 0px 0px 6px $azul-dark;
            }
        }

        .selected {
            border: 1px solid $azul-dark;
            background-color: $azul-normal;
            color: $blanco;
        }
    }

    #food-main{
        width: 100%;
        height: 100%;
    }

    #food-description{
        grid-column: span 2;
    }

    #food-img{
        max-height: 200px;
        height: auto;
        margin: 0 auto;
    }
}

.experience{
    height: 400px;
    text-align: center;

    &-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 60px;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        height: calc(100vw / 1.3);
        min-height: 270px;
        max-height: 380px;
        overflow: hidden;

        #gallery-main{
            position: relative;
            grid-column: span 3;
            padding: 0px;
            height: calc(100vw / 1.75);
            z-index: -1;
            
            #gallery-text{
                position: absolute;
                bottom: 0px;
                background-color: $gris-normal;
                color: $blanco;
                width: 100%;
                margin-bottom: 0px;
                line-height: 2em;
            }
            #main-img{
                height: 100%;
            }
        }

        .gallery-item{
            width: 100%;
            min-height: 100px;
            max-width: auto;
        }
    }
}

@include phone-screen (){
    .info{
        &-card{
            grid-gap: 25px;
            min-height: 100px;
            max-height: max-content;
            padding-right: 15px;
        }
        &-text{
            padding-top: 10px;
        }
    }

    .food{
        grid-template-columns: 60px 1fr;
        grid-template-rows: 40px 250px auto;
        grid-column-gap: 25px;
        grid-row-gap: 20px;
        justify-items: center;

        .options-item{
            width: 40px;
            height: 40px;
            margin-bottom: 20px;
            font-size: $text-subheader;
            line-height: 35px;
        }
        .options-item:last-child{
            margin-bottom: 10px;
        }

        #food-main {
            @include flex (row, center, center);
            #food-img{
                height: 250px;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }

    .experience{
        min-height: 450px;
        height: 75vw;
        max-height: 500px;
        text-align: center;
        overflow: hidden;

        &-intro{
            font-size: $text-base-lg;
        }

        &-gallery{
            grid-template-rows: auto 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 20px;
            height: 60vw;
            min-height: 380px;
            max-height: 430px;

            #gallery-main{
                position: relative;
                grid-column: span 3;
                padding: 0px;
                min-height: 180px;
                height: 45vw;
                max-height: 300px;
                
                #main-img{
                    height: 100%;
                }
            }

            .gallery-item{
                width: 100%;
                min-height: 100px;
                max-width: 160px;
            }
        }
    }
}


@include tablet-screen (){
    .introd {
        margin-top: 20px;
        font-size: $text-base-lg;

        &-title{
            text-align: center;
        }
    }

    .info{
        &-title{
            text-align: center;
        }

        &-card{
            grid-gap: 25px;
            min-height: 120px;
            max-height: max-content;
            padding-right: 15px;
        }
        &-text{
            font-size: $text-base;
            padding-top: 10px;
        }
    }

    .food{
        grid-template-columns: 60px 2fr 1fr;
        grid-template-rows: 50px 270px;
        grid-column-gap: 35px;
        grid-row-gap: 25px;
        justify-items: center;
        grid-template-areas:"title title title"
                            "options main texto";

        &-title{
            grid-area: title;
            line-height: 40px;
        }
        #food-description{
            grid-area: texto;
        }

        &-options{
            grid-area: options;

            .options-item{
                width: 40px;
                height: 40px;
                margin-bottom: 20px;
                font-size: $text-subheader;
                line-height: 35px;
            }
            .options-item:last-child{
                margin-bottom: 10px;
            }
        }

        #food-main {
            grid-area: main;
            @include flex (row, center, center);

            #food-img{
                height: 250px;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }

    .experience{
        max-height: 600px;
        height: calc(700px - 10vw);
        max-height: 450px;
        text-align: center;

        &-intro{
            font-size: $text-base-lg;
        }

        &-gallery{
            grid-template-columns: 5fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            height: calc(100vw / 2.5);
            min-height: 340px;
            max-height: 380px;
            overflow: hidden;


            #gallery-main{
                position: relative;
                grid-row: span 3;
                grid-column: 1;
                height: 100%;
                max-height: 380px;
                max-width: 700px;
            }

            .gallery-item{
                width: auto;
                max-width: 100px;
                overflow: hidden;
            }
        }
    }
}