$totalHeight: (100vw/18)*9;
$maxWidth: 1440px;

.intro{
    margin-top: 0px;

    .hero{
        width: 100vw;
        height: $totalHeight;
    }

    .introProd{
        height: fit-content;
        padding: 10px 5px;
        margin: 16px 0px;
        text-align: center;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 5px #bbb;
        &-title{
            font-size: $text-base-lg;
        }
        &-btn{
            @include boton (100%, 35px, #9b9b9b, #bbb);
        }
    }
}

.plan{
    grid-gap: 0px;
    text-align: center;

    &-title{
        font-size: $text-title-sm;
    }

    &-img{
        height: $totalHeight / 1.5;
        width: 100%;
    }
    &-text{
        grid-column: span 6;
    }
}

.cond{
    justify-content: center;
    h3{
        font-size: $text-title-sm;
        text-align: center;
    }
    &-items{
        width: 100%;
        @include flex(row, flex-start, center);
        i{
            width: 40px;
            padding-right: 25px;
        }
    }
    &-map{
        width: 100%;
        height: 300px;
        border: none;
    }
}

.beneficts{

    &-title{
        font-size: $text-title-sm ;
        text-align: center;
    }

    &-card{
        background-color: #eee;
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-rows: 1fr 30px;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        align-items: center;
        justify-content: center;

        .card-title{
            font-size: $text-base-lg;
            text-align: center;
            padding-bottom: 5px;
        }
        .card-img{
            width: 100%;
            height: 100%;
        }
    }
}

.dogs{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px 200px;
    grid-gap: 10px;
    overflow: hidden;

    &-title{
        font-size: $text-title-sm;
        text-align: center;
    }
    &-gallery{
        width: 100%;
        z-index: 10;
    }
    &-img{
        width: 60px;
        margin: 0px 10px;

        img{
            width: 100%;
        }
    }
}


@include phone-screen {

    .intro{
        .introProd{
            padding: 10px 20px;
            @include flex (column, center, center);
            &-btn{
                @include boton (90%, 35px, #9b9b9b, #bbb);
            }
        }
    }

    .plan{
        position: relative;
        &-text{
            position: absolute;
            bottom: 0px;
            margin: 0px;
            padding: 5px;
            background-color: #333333cc;
            color: white;
        }
        &-img{
            max-height: 250px;
        }
    }

    .cond{
        grid-row-gap: 10px;
        &-items{
            padding: 0px 20px;
            font-size: $text-base-lg;
        }
    }

    .beneficts{
        grid-row-gap: 10px;
        &-card{
            grid-template-rows: 1fr 45px;
            height: 175px;

            .beneficts-title{
                font-size: $text-base-lg;
            }
        }
    }

    .dogs{
        grid-template-rows: 40px 230px;
    }
}

@include tablet-screen {
    .intro{
        .introProd{
            padding: 14px 26px;
            @include flex (column, center, center);

            &-title{
                font-size: $text-subheader;
                margin-top: 10px;
            }

            &-text{
                font-size: $text-base-lg;
                margin: 10px 0px;
            }

            &-btn{
                @include boton (90%, 40px, #9b9b9b, #bbb);
                margin-top: 10px;
            }
        }
    }

    .plan{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        &-img{
            max-height: 300px;
        }
        &-text{
            font-size: $text-base-lg;
            padding: 10px;
        }
    }

    .cond{
        grid-column-gap: 0px;
        &-map{
            order: 2;
            height: 100%;
        }
        &-list{
            order: 3;
        }
        &-items{
            margin-bottom: 30px;
            padding: 0px 20px;
            font-size: $text-subheader;
            line-height: 1.7 em;
        }
    }

    .beneficts{
        grid-row-gap: 22px;
        &-card{
            grid-template-rows: 1fr 50px;
            height: 200px;
            margin-top: -10px;

            .card-title{
                font-size: $text-subheader;
            }
        }
    }

    .dogs{
        grid-template-rows: 40px 250px;
    }

}

@include desk-screen {
    .intro{
        position: relative;
        .hero{
            max-height: calc(100vh - 200px);
        }
        .introProd{
            position: absolute;
            right: 140px;
            width: 450px;
            background-color: transparent;
            box-shadow: none;
            border: none;
            @include flex (column, center, flex-end);

            &:first-child{
                top: 14px;
            }
            &:last-child{
                bottom: 14px;
            }
            &-text{
                text-align: right;
            }

            &-btn{
                max-width: 200px;
            }
        }
    }
}

@include desk-lg-screen{
    .intro{
        position: relative;
        margin-top: 0px;

        .introProd{
            position: absolute;
            right: 100px;
            margin: 0px;
        }
    }
}