$totalHeight: (100vw/18)*9;
$maxWidth: 1440px;

.intro{
    margin-top: 0px;

    .hero{
        width: 100vw;
        height: $totalHeight;
        // background-image: url('./../assets/hero.jpeg');
        background-color: $gris-light;
        background-size: cover;
        background-position-y: -20px;
    }

    .introProd{
        height: fit-content;
        padding: 10px 5px;
        margin: 16px 0px;
        @include flex (column, center, center);
        text-align: center;
        box-shadow: 0px 0px 5px $gris-normal;

        &-title{
            font-size: $text-base-lg;
            min-height: 48px;
        }
        &-text{
            min-height: 90px;
            margin-bottom: 10px;
        }

        &:first-child {
            color: $rojo-normal;
            background-color: $rojo-light;

            .introProd-btn{
                @include boton (100%, 35px, $rojo-normal, $rojo-dark);
            }
        }

        &:last-child {
            color: $azul-normal;
            background-color: $azul-light;

            .introProd-btn{
                @include boton (100%, 35px, $azul-normal, $azul-dark);
            }
        }
    }
}

.plan{
    grid-gap: 0px;
    text-align: center;

    &-title{
        font-size: $text-title-sm;
    }

    &-img{
        height: $totalHeight;
        width: 100%;
        background-image: url('../assets/hero-plan.svg');
        background-size: cover;
        background-position-x: 10%;
    }
    &-text{
        grid-column: span 6;
    }
}

.cond{
    justify-content: center;

    h3{
        font-size: $text-title-sm;
        text-align: center;
    }
    &-items{
        width: 100%;
        @include flex(row, flex-start, center);
        i{
            width: 40px;
            padding-right: 25px;
        }
        .cond-dist{
            width: 100%;
            text-align: center;
        }

    }

    &-map{
        width: 100%;
        height: 300px;
        border: none;
    }

}

.btn_modal-close{
    position: absolute;
    top: 5px;
    left: 18px;
    font-size: $text-title;
}

.plan_detail {
    position: fixed;
    display: none;
    top: 50px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 50px);
    padding: 30px 0px;
    grid-template-rows: 70px auto 120px;
    grid-template-columns: 100%;
    grid-gap: 20px;
    justify-items: center;
    background-color: $rojo-normal;
    color: $blanco;
    z-index: 2500;

    &-intro{
        text-align: center;
        border-bottom: 1px solid $azul-dark;
        width: 90%;
    }
    &-title{
        font-size: $text-headline;
        line-height: 1em;
        margin: 0px;
    }
    &-text{
        font-size: $text-base;
        line-height: 1.2em;
    }

    &-list{
        width: 90%;
        padding: 10px;
    }

    &-item{
        display: flex;
        
        i{
            margin-right: 20px;
        }
    }

    &-logo{
        height: 100%;
    }
}

.zone_detail {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 50px);
    padding: 20px 0px;
    display: none;
    grid-template-rows: 130px auto 30px;
    grid-gap: 20px;
    justify-items: center;
    background-color: $rojo-normal;
    color: $blanco;
    z-index: 2500;

    &-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid $azul-dark;
        width: 90%;
    }

    &-map{
        width: 170px;
        height: 80px;
        margin-bottom: 16px;
        background-color: $gris-normal;
    }

    &-title{
        font-size: $text-title-sm;
        line-height: 1em;
        margin: 0px;
    }

    &-list {
        width: 80%;
        padding-right: 10px;
        padding-left: 20px;
        column-gap: 30px;
    }

    &-item{
        grid-column: span 2;
        display: flex;

        i{
            margin-right: 10px;
        }
    }

    &-info{
        font-size: $text-caption;
        span{
            color: $blanco;
            text-decoration: underline;
        }
    }
}

.beneficts{

    &-title{
        font-size: $text-title-sm ;
        text-align: center;
    }

    &-card{
        background-color: #eee;
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        align-items: center;
        justify-content: center;

        .card-title{
            font-size: $text-base-lg;
            text-align: center;
            padding-bottom: 5px;
        }
        .card-img{
            width: 100%;
            height: 100%;
        }
    }
}

.dogs{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px 200px;
    grid-gap: 10px;
    overflow: hidden;

    &-title{
        font-size: $text-title-sm;
        text-align: center;
    }
    &-gallery{
        width: 100%;
        z-index: 10;
    }
    &-img{
        width: 60px;
        margin: 0px 10px;

        img{
            width: 100%;
        }
    }
}

.modal-link{
    font-weight: bold;
    color: $rojo-normal;

    &:hover{
        cursor: pointer;
    }

    &:active{
        color: $azul-dark
    }

    strong{
        font-weight: bolder;
    }
}


@include phone-screen {

    .intro{
        .introProd{
            padding: 10px 20px;
            @include flex (column, center, center);
            &-btn{
                width: 90%;
            }
        }
    }

    .plan{
        position: relative;
        &-img{
            max-height: 250px;
        }
    }

    .cond{
        grid-row-gap: 10px;
        &-items{
            padding: 0px 20px;
            font-size: $text-base-lg;
        }
        .cond-dist{
            margin-left: 40px;
            text-align: left;
        }
    }

    .plan_detail {
        grid-template-rows: 90px auto 120px;
        grid-gap: 20px;
        justify-items: center;

        #detail-close{
            position: absolute;
            top: 5px;
            left: 4%;
        }

        &-title{
            margin: 8px;
        }

        &-text{
            font-size: $text-base-lg;
            line-height: 1.2em;
            margin-bottom: 10px;
        }

        &-list{
            width: 63%;
            padding: 0px 10px;
        }

        &-item{
            display: flex;
            
            i{
                margin-right: 20px;
                font-size: $text-base-lg;
            }
        }
    }

    .zone_detail {
        grid-template-rows: 130px auto 30px;
        grid-gap: 20px;
        justify-items: center;

        &-list {
            width: 70%;
            max-height: 300px;
        }

        &-item{
            grid-column: span 2;
            i{
                margin-right: 20px;
            }
        }
    }

    .beneficts{
        grid-row-gap: 10px;
        &-card{
            grid-template-rows: 1fr 45px;
            height: 175px;

            .beneficts-title{
                font-size: $text-base-lg;
            }
        }
    }

    .dogs{
        grid-template-rows: 40px 230px;
    }
}

@include tablet-screen {
    .intro{
        .introProd{
            padding: 14px 26px;
            @include flex (column, center, center);

            &-title{
                font-size: $text-subheader;
                min-height: 48px;
                margin-top: 10px;
            }

            &-text{
                font-size: $text-base-lg;
                margin: 10px 0px;
                min-height: 50px;
            }

            &-btn{
                margin-top: 10px;
                width: 80%;
            }
        }
    }

    .plan{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        &-text{
            position: absolute;
            max-width: 100% !important;
            bottom: 0px;
            margin: 0px;
            padding: 5px;
            background-color: #333333cc;
            color: white;
        }

        &-img{
            max-height: 400px;
        }
        &-text{
            font-size: $text-base-lg;
            padding: 10px;
        }
    }

    .cond{
        grid-column-gap: 0px;
        &-title{
            order: 1;
        }
        &-map{
            order: 2;
            height: 100%;
        }
        &-list{
            order: 3;
        }
        &-items{
            margin-bottom: 20px;
            padding: 0px 20px;
            font-size: $text-base;
            line-height: 1.7 em;

            .cond-dist{
                font-size: $text-base;
            }

        }
        .aclaracion{
            order: 4;
            text-align: center;
        }
    }

    .plan_detail {
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        grid-template-rows: 90px auto 130px;
        grid-gap: 20px;
        width: 540px;
        height: 75%;
        max-height: 600px;
        box-shadow: 0px 0px 10px $azul-dark;

        &-title{
            margin: 8px;
        }

        &-text{
            font-size: $text-base-lg;
            line-height: 1.2em;
        }

        &-list{
            padding: 0px 20px;
            width: 80%;
        }
    }

    .zone_detail {
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        grid-template-rows: 140px auto 30px;
        grid-gap: 20px;
        width: 540px;
        height: 80%;
        max-height: 600px;
        box-shadow: 0px 0px 10px $azul-dark;

        &-list {
            width: 80%;
            max-height: 300px;
            grid-template-columns: repeat(12, 1fr) !important;
        }

        &-item{
            grid-column: span 4;
            i{
                margin-right: 20px;
            }
        }
    }

    .beneficts{
        grid-row-gap: 22px;
        &-card{
            grid-template-rows: 1fr 50px;
            height: 200px;
            margin-top: -10px;

            .card-title{
                font-size: $text-subheader;
            }
        }
    }

    .dogs{
        grid-template-rows: 40px 250px;
    }
}

@include desk-screen {
    .intro{
        position: relative;
        .hero{
            max-height: calc(100vh - 200px);
        }
        .introProd{
            position: absolute;
            top: 15px;
            width: 350px;
            height: calc(100% - 30px);
            padding-top: 0px;
            background-color: transparent;
            box-shadow: none;
            border: none;
            @include flex (column, auto, center);
            text-align: center;

            &:first-child{
                left: 30px;
            }
            &:last-child{
                right: 30px;
            }

            &-title{
                order: 2;
                min-height: fit-content;
            }
            &-text{
                text-align: right;
                order: 3;
            }

            &-btn{
                max-width: 200px;
                order: 4;
            }

            &-img{
                height: 200px;
                width: 70%;
                order: 1;
                background-size: cover;
                
                
            }
            .pollo{
                background-image: url('./../assets/pollo.png');
            }
            .pavo{
                background-image: url('./../assets/pavo.png');
            }
        }
    }
    .plan{
        &-img{
            max-height: 500px;
        }
    }

    .btn_modal-close{
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: $text-title;
        transition: transform 0.2s linear;

        &:hover{
            transform: scale(1.2);
        }
    }

    .plan_detail {
        position: fixed;
        top: 80px;
        left: 50%;
        grid-template-rows: 90px auto 130px;
        grid-gap: 20px;


        &-intro{
            padding-bottom: 20px;
        }

        &-title{
            margin: 8px;
        }

        &-text{
            font-size: $text-base-lg;
            line-height: 1.2em;
        }

        &-list{
            width: 80%;
            padding: 0px 10px;
        }

        &-item{
            display: flex;
            
            i{
                margin-right: 20px;
                font-size: $text-base-lg;
            }
        }
    }

    .zone_detail {
        top: 80px;
    }
}

@include desk-lg-screen{
    .intro{
        position: relative;
        margin-top: 0px;

        .introProd{
            position: absolute;
            top: 60px;
            right: 100px;
            margin: 0px;
            max-height: 600px;

            &-img{
                height: 300px;
                width: 100%;
                order: 1;
                background-size: cover;
                
                
            }
            .pollo{
                background-image: url('./../assets/pollo.png');
            }
            .pavo{
                background-image: url('./../assets/pavo.png');
            }
        }
    }
}
