.redes {
  width: fit-content;
}
.redes a {
  display: inline-block;
  margin: 0px;
  margin-left: 16px;
  font-size: 20px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #990B0B;
  background-image: linear-gradient(0deg, #990b0b 15%, #ba1010 50%, #990b0b 85%);
  color: #E6E6E6;
}

.navbar {
  height: 56px;
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar #navbar__menu {
  padding-top: 10px;
  font-size: 24px;
  padding-right: 40px;
}
.navbar .navbar__title {
  font-size: 18px;
}
.navbar #navbar__mainLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
}
.navbar #navbar__logo {
  height: 60px;
}

.sidebar {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 0px;
  z-index: 3000;
  background-color: #f6f6f6;
}
.sidebar .sidebar__nav {
  position: sticky;
  top: 0px;
  left: 0px;
  height: 56px;
  width: 100%;
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #990B0B;
  background-image: linear-gradient(0deg, #990b0b 15%, #ba1010 50%, #990b0b 85%);
  color: #E6E6E6;
}
.sidebar .sidebar__nav #sidebar__close {
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 10;
  color: white;
  font-size: 22px;
}
.sidebar .enlaces {
  width: 100%;
  margin-top: 20px;
  min-height: 70vh;
  max-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sidebar .enlaces a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.sidebar .enlaces a:hover, .sidebar .enlaces a:active {
  text-decoration: underline;
}

main {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  width: 100%;
  padding: 0px 16px;
  z-index: 10;
  background-color: #990B0B;
  background-image: linear-gradient(0deg, #990b0b 15%, #ba1010 50%, #990b0b 85%);
  color: #E6E6E6;
}

.btn {
  background-color: transparent;
  border: none;
  outline: transparent;
}

@media (min-width: 420px) {
  section {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 740px) {
  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media (min-width: 960px) {
  .navbar {
    position: sticky;
    top: 0px;
    height: 64px;
  }
  .navbar #navbar__mainLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar {
    position: fixed;
    width: 30%;
    z-index: 10000;
  }
  .sidebar .sidebar__nav {
    position: absolute;
    top: 0px;
    height: 64px;
  }
  .sidebar .sidebar__nav #sidebar__close {
    position: absolute;
    left: 45%;
    top: 12px;
    font-size: 26px;
    animation: moveCloseBtn 0.5s ease-out 0s;
  }
  @keyframes moveCloseBtn {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-10vw);
    }
  }
  .sidebar .enlaces {
    margin-top: 70px;
  }

  section {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  footer {
    padding-left: 14%;
    padding-right: 14%;
    font-size: 16px;
  }
}
.intro {
  margin-top: 0px;
}
.intro .hero {
  width: 100vw;
  height: 50vw;
  background-color: #d9d9d9;
  background-size: cover;
  background-position-y: -20px;
}
.intro .introProd {
  height: fit-content;
  padding: 10px 5px;
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px #9E9E9E;
}
.intro .introProd-title {
  font-size: 16px;
  min-height: 48px;
}
.intro .introProd-text {
  min-height: 90px;
  margin-bottom: 10px;
}
.intro .introProd:first-child {
  color: #990B0B;
  background-color: #990b0b27;
}
.intro .introProd:first-child .introProd-btn {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #990B0B;
  border: 2px solid #4a0505;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.intro .introProd:first-child .introProd-btn:hover {
  background-color: #4a0505;
}
.intro .introProd:first-child .introProd-btn:active {
  outline: none;
  box-shadow: 0px 0px 5px #ccc inset;
}
.intro .introProd:first-child .introProd-btn:focus {
  outline: none;
}
.intro .introProd:last-child {
  color: #303FA1;
  background-color: #303fa127;
}
.intro .introProd:last-child .introProd-btn {
  width: 100%;
  height: 35px;
  color: white;
  background-color: #303FA1;
  border: 2px solid #111638;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.intro .introProd:last-child .introProd-btn:hover {
  background-color: #111638;
}
.intro .introProd:last-child .introProd-btn:active {
  outline: none;
  box-shadow: 0px 0px 5px #ccc inset;
}
.intro .introProd:last-child .introProd-btn:focus {
  outline: none;
}

.plan {
  grid-gap: 0px;
  text-align: center;
}
.plan-title {
  font-size: 22px;
}
.plan-img {
  height: 50vw;
  width: 100%;
  background-image: url("../assets/hero-plan.svg");
  background-size: cover;
  background-position-x: 10%;
}
.plan-text {
  grid-column: span 6;
}

.cond {
  justify-content: center;
}
.cond h3 {
  font-size: 22px;
  text-align: center;
}
.cond-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cond-items i {
  width: 40px;
  padding-right: 25px;
}
.cond-items .cond-dist {
  width: 100%;
  text-align: center;
}
.cond-map {
  width: 100%;
  height: 300px;
  border: none;
}

.btn_modal-close {
  position: absolute;
  top: 5px;
  left: 18px;
  font-size: 26px;
}

.plan_detail {
  position: fixed;
  display: none;
  top: 50px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 50px);
  padding: 30px 0px;
  grid-template-rows: 70px auto 120px;
  grid-template-columns: 100%;
  grid-gap: 20px;
  justify-items: center;
  background-color: #990B0B;
  color: #E6E6E6;
  z-index: 2500;
}
.plan_detail-intro {
  text-align: center;
  border-bottom: 1px solid #111638;
  width: 90%;
}
.plan_detail-title {
  font-size: 30px;
  line-height: 1em;
  margin: 0px;
}
.plan_detail-text {
  font-size: 14px;
  line-height: 1.2em;
}
.plan_detail-list {
  width: 90%;
  padding: 10px;
}
.plan_detail-item {
  display: flex;
}
.plan_detail-item i {
  margin-right: 20px;
}
.plan_detail-logo {
  height: 100%;
}

.zone_detail {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 50px);
  padding: 20px 0px;
  display: none;
  grid-template-rows: 130px auto 30px;
  grid-gap: 20px;
  justify-items: center;
  background-color: #990B0B;
  color: #E6E6E6;
  z-index: 2500;
}
.zone_detail-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #111638;
  width: 90%;
}
.zone_detail-map {
  width: 170px;
  height: 80px;
  margin-bottom: 16px;
  background-color: #9E9E9E;
}
.zone_detail-title {
  font-size: 22px;
  line-height: 1em;
  margin: 0px;
}
.zone_detail-list {
  width: 80%;
  padding-right: 10px;
  padding-left: 20px;
  column-gap: 30px;
}
.zone_detail-item {
  grid-column: span 2;
  display: flex;
}
.zone_detail-item i {
  margin-right: 10px;
}
.zone_detail-info {
  font-size: 12px;
}
.zone_detail-info span {
  color: #E6E6E6;
  text-decoration: underline;
}

.beneficts-title {
  font-size: 22px;
  text-align: center;
}
.beneficts-card {
  background-color: #eee;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
}
.beneficts-card .card-title {
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px;
}
.beneficts-card .card-img {
  width: 100%;
  height: 100%;
}

.dogs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 200px;
  grid-gap: 10px;
  overflow: hidden;
}
.dogs-title {
  font-size: 22px;
  text-align: center;
}
.dogs-gallery {
  width: 100%;
  z-index: 10;
}
.dogs-img {
  width: 60px;
  margin: 0px 10px;
}
.dogs-img img {
  width: 100%;
}

.modal-link {
  font-weight: bold;
  color: #990B0B;
}
.modal-link:hover {
  cursor: pointer;
}
.modal-link:active {
  color: #111638;
}
.modal-link strong {
  font-weight: bolder;
}

@media (min-width: 420px) {
  .intro .introProd {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro .introProd-btn {
    width: 90%;
  }

  .plan {
    position: relative;
  }
  .plan-img {
    max-height: 250px;
  }

  .cond {
    grid-row-gap: 10px;
  }
  .cond-items {
    padding: 0px 20px;
    font-size: 16px;
  }
  .cond .cond-dist {
    margin-left: 40px;
    text-align: left;
  }

  .plan_detail {
    grid-template-rows: 90px auto 120px;
    grid-gap: 20px;
    justify-items: center;
  }
  .plan_detail #detail-close {
    position: absolute;
    top: 5px;
    left: 4%;
  }
  .plan_detail-title {
    margin: 8px;
  }
  .plan_detail-text {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
  .plan_detail-list {
    width: 63%;
    padding: 0px 10px;
  }
  .plan_detail-item {
    display: flex;
  }
  .plan_detail-item i {
    margin-right: 20px;
    font-size: 16px;
  }

  .zone_detail {
    grid-template-rows: 130px auto 30px;
    grid-gap: 20px;
    justify-items: center;
  }
  .zone_detail-list {
    width: 70%;
    max-height: 300px;
  }
  .zone_detail-item {
    grid-column: span 2;
  }
  .zone_detail-item i {
    margin-right: 20px;
  }

  .beneficts {
    grid-row-gap: 10px;
  }
  .beneficts-card {
    grid-template-rows: 1fr 45px;
    height: 175px;
  }
  .beneficts-card .beneficts-title {
    font-size: 16px;
  }

  .dogs {
    grid-template-rows: 40px 230px;
  }
}
@media (min-width: 740px) {
  .intro .introProd {
    padding: 14px 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro .introProd-title {
    font-size: 18px;
    min-height: 48px;
    margin-top: 10px;
  }
  .intro .introProd-text {
    font-size: 16px;
    margin: 10px 0px;
    min-height: 50px;
  }
  .intro .introProd-btn {
    margin-top: 10px;
    width: 80%;
  }

  .plan {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .plan-text {
    position: absolute;
    max-width: 100% !important;
    bottom: 0px;
    margin: 0px;
    padding: 5px;
    background-color: #333333cc;
    color: white;
  }
  .plan-img {
    max-height: 400px;
  }
  .plan-text {
    font-size: 16px;
    padding: 10px;
  }

  .cond {
    grid-column-gap: 0px;
  }
  .cond-title {
    order: 1;
  }
  .cond-map {
    order: 2;
    height: 100%;
  }
  .cond-list {
    order: 3;
  }
  .cond-items {
    margin-bottom: 20px;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 1.7 em;
  }
  .cond-items .cond-dist {
    font-size: 14px;
  }
  .cond .aclaracion {
    order: 4;
    text-align: center;
  }

  .plan_detail {
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    grid-template-rows: 90px auto 130px;
    grid-gap: 20px;
    width: 540px;
    height: 75%;
    max-height: 600px;
    box-shadow: 0px 0px 10px #111638;
  }
  .plan_detail-title {
    margin: 8px;
  }
  .plan_detail-text {
    font-size: 16px;
    line-height: 1.2em;
  }
  .plan_detail-list {
    padding: 0px 20px;
    width: 80%;
  }

  .zone_detail {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    grid-template-rows: 140px auto 30px;
    grid-gap: 20px;
    width: 540px;
    height: 80%;
    max-height: 600px;
    box-shadow: 0px 0px 10px #111638;
  }
  .zone_detail-list {
    width: 80%;
    max-height: 300px;
    grid-template-columns: repeat(12, 1fr) !important;
  }
  .zone_detail-item {
    grid-column: span 4;
  }
  .zone_detail-item i {
    margin-right: 20px;
  }

  .beneficts {
    grid-row-gap: 22px;
  }
  .beneficts-card {
    grid-template-rows: 1fr 50px;
    height: 200px;
    margin-top: -10px;
  }
  .beneficts-card .card-title {
    font-size: 18px;
  }

  .dogs {
    grid-template-rows: 40px 250px;
  }
}
@media (min-width: 960px) {
  .intro {
    position: relative;
  }
  .intro .hero {
    max-height: calc(100vh - 200px);
  }
  .intro .introProd {
    position: absolute;
    top: 15px;
    width: 350px;
    height: calc(100% - 30px);
    padding-top: 0px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    text-align: center;
  }
  .intro .introProd:first-child {
    left: 30px;
  }
  .intro .introProd:last-child {
    right: 30px;
  }
  .intro .introProd-title {
    order: 2;
    min-height: fit-content;
  }
  .intro .introProd-text {
    text-align: right;
    order: 3;
  }
  .intro .introProd-btn {
    max-width: 200px;
    order: 4;
  }
  .intro .introProd-img {
    height: 200px;
    width: 70%;
    order: 1;
    background-size: cover;
  }
  .intro .introProd .pollo {
    background-image: url("./../assets/pollo.png");
  }
  .intro .introProd .pavo {
    background-image: url("./../assets/pavo.png");
  }

  .plan-img {
    max-height: 500px;
  }

  .btn_modal-close {
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 26px;
    transition: transform 0.2s linear;
  }
  .btn_modal-close:hover {
    transform: scale(1.2);
  }

  .plan_detail {
    position: fixed;
    top: 80px;
    left: 50%;
    grid-template-rows: 90px auto 130px;
    grid-gap: 20px;
  }
  .plan_detail-intro {
    padding-bottom: 20px;
  }
  .plan_detail-title {
    margin: 8px;
  }
  .plan_detail-text {
    font-size: 16px;
    line-height: 1.2em;
  }
  .plan_detail-list {
    width: 80%;
    padding: 0px 10px;
  }
  .plan_detail-item {
    display: flex;
  }
  .plan_detail-item i {
    margin-right: 20px;
    font-size: 16px;
  }

  .zone_detail {
    top: 80px;
  }
}
@media (min-width: 1400px) {
  .intro {
    position: relative;
    margin-top: 0px;
  }
  .intro .introProd {
    position: absolute;
    top: 60px;
    right: 100px;
    margin: 0px;
    max-height: 600px;
  }
  .intro .introProd-img {
    height: 300px;
    width: 100%;
    order: 1;
    background-size: cover;
  }
  .intro .introProd .pollo {
    background-image: url("./../assets/pollo.png");
  }
  .intro .introProd .pavo {
    background-image: url("./../assets/pavo.png");
  }
}
.introd {
  margin-top: 16px;
}
.introd-title {
  text-align: center;
}

.info-title {
  font-size: 18px;
  text-align: center;
}
.info-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  min-height: 80px;
  max-height: max-content;
  width: 100%;
  padding-right: 10px;
  box-shadow: 0px 0px 10px #ccc;
}
.info-img {
  width: 100%;
  height: 100%;
}
.info-text {
  height: 100%;
}

.food {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.food-title {
  grid-column: span 2;
  text-align: center;
}
.food-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.food-options .options-item {
  width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #111638;
  color: #111638;
  border-radius: 1000px;
  cursor: pointer;
  animation: all 0.2s linear;
}
.food-options .options-item:hover {
  box-shadow: 0px 0px 6px #111638;
}
.food-options .selected {
  border: 1px solid #111638;
  background-color: #303FA1;
  color: #E6E6E6;
}
.food #food-main {
  width: 100%;
  height: 100%;
}
.food #food-description {
  grid-column: span 2;
}
.food #food-img {
  max-height: 200px;
  height: auto;
  margin: 0 auto;
}

.experience {
  height: 400px;
  text-align: center;
}
.experience-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 60px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  height: calc(100vw / 1.3);
  min-height: 270px;
  max-height: 380px;
  overflow: hidden;
}
.experience-gallery #gallery-main {
  position: relative;
  grid-column: span 3;
  padding: 0px;
  height: calc(100vw / 1.75);
  z-index: -1;
}
.experience-gallery #gallery-main #gallery-text {
  position: absolute;
  bottom: 0px;
  background-color: #9E9E9E;
  color: #E6E6E6;
  width: 100%;
  margin-bottom: 0px;
  line-height: 2em;
}
.experience-gallery #gallery-main #main-img {
  height: 100%;
}
.experience-gallery .gallery-item {
  width: 100%;
  min-height: 100px;
  max-width: auto;
}

@media (min-width: 420px) {
  .info-card {
    grid-gap: 25px;
    min-height: 100px;
    max-height: max-content;
    padding-right: 15px;
  }
  .info-text {
    padding-top: 10px;
  }

  .food {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 40px 250px auto;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    justify-items: center;
  }
  .food .options-item {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
  }
  .food .options-item:last-child {
    margin-bottom: 10px;
  }
  .food #food-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .food #food-main #food-img {
    height: 250px;
    max-height: 100%;
    margin: 0 auto;
  }

  .experience {
    min-height: 450px;
    height: 75vw;
    max-height: 500px;
    text-align: center;
    overflow: hidden;
  }
  .experience-intro {
    font-size: 16px;
  }
  .experience-gallery {
    grid-template-rows: auto 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    height: 60vw;
    min-height: 380px;
    max-height: 430px;
  }
  .experience-gallery #gallery-main {
    position: relative;
    grid-column: span 3;
    padding: 0px;
    min-height: 180px;
    height: 45vw;
    max-height: 300px;
  }
  .experience-gallery #gallery-main #main-img {
    height: 100%;
  }
  .experience-gallery .gallery-item {
    width: 100%;
    min-height: 100px;
    max-width: 160px;
  }
}
@media (min-width: 740px) {
  .introd {
    margin-top: 20px;
    font-size: 16px;
  }
  .introd-title {
    text-align: center;
  }

  .info-title {
    text-align: center;
  }
  .info-card {
    grid-gap: 25px;
    min-height: 120px;
    max-height: max-content;
    padding-right: 15px;
  }
  .info-text {
    font-size: 14px;
    padding-top: 10px;
  }

  .food {
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 50px 270px;
    grid-column-gap: 35px;
    grid-row-gap: 25px;
    justify-items: center;
    grid-template-areas: "title title title" "options main texto";
  }
  .food-title {
    grid-area: title;
    line-height: 40px;
  }
  .food #food-description {
    grid-area: texto;
  }
  .food-options {
    grid-area: options;
  }
  .food-options .options-item {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
  }
  .food-options .options-item:last-child {
    margin-bottom: 10px;
  }
  .food #food-main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .food #food-main #food-img {
    height: 250px;
    max-height: 100%;
    margin: 0 auto;
  }

  .experience {
    max-height: 600px;
    height: calc(700px - 10vw);
    max-height: 450px;
    text-align: center;
  }
  .experience-intro {
    font-size: 16px;
  }
  .experience-gallery {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    height: calc(100vw / 2.5);
    min-height: 340px;
    max-height: 380px;
    overflow: hidden;
  }
  .experience-gallery #gallery-main {
    position: relative;
    grid-row: span 3;
    grid-column: 1;
    height: 100%;
    max-height: 380px;
    max-width: 700px;
  }
  .experience-gallery .gallery-item {
    width: auto;
    max-width: 100px;
    overflow: hidden;
  }
}
.title {
  text-align: center;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
  display: relative;
}
.product-img {
  height: 150px;
}
.product-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-options .option {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  margin: 10px 0px;
  background-color: white;
  border: 1px solid #d9d9d9;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  z-index: 1;
}
.product-options .option-selected:nth-of-type(1) {
  border: 1px solid #990b0b27;
  border-bottom: 2px solid #4a0505;
}
.product-options .option-selected:nth-of-type(2) {
  border: 1px solid #303fa127;
  border-bottom: 2px solid #303FA1;
}
.product-submit {
  align-self: center;
  margin: 10px;
  font-size: 16px;
}
.product .btn-red {
  width: 120px;
  height: 45px;
  color: white;
  background-color: #990B0B;
  border: 2px solid #4a0505;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.product .btn-red:hover {
  background-color: #4a0505;
}
.product .btn-red:active {
  outline: none;
  box-shadow: 0px 0px 5px #ccc inset;
}
.product .btn-red:focus {
  outline: none;
}
.product .btn-blue {
  width: 120px;
  height: 45px;
  color: white;
  background-color: #303FA1;
  border: 2px solid #111638;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.product .btn-blue:hover {
  background-color: #111638;
}
.product .btn-blue:active {
  outline: none;
  box-shadow: 0px 0px 5px #ccc inset;
}
.product .btn-blue:focus {
  outline: none;
}

.information {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.information-title {
  text-align: left;
}

@media (min-width: 420px) {
  .product {
    max-width: 550px;
    justify-self: center;
  }
  .product-img {
    height: 200px;
  }
  .product-text {
    height: 75px;
    font-size: 14px;
  }
  .product-submit {
    margin: 20px;
  }

  .information {
    margin: 0px;
    max-width: 550px;
    justify-self: center;
    text-align: center;
  }
  .information-title {
    text-align: center;
  }
  .information:last-child {
    margin-bottom: 30px;
  }
}
@media (min-width: 740px) {
  .product-text {
    font-size: 16px;
    height: 100px;
  }

  .information {
    font-size: 16px;
  }
}
.step-container {
  height: calc(100vh - (100px + 59px));
  overflow-y: scroll;
  margin-bottom: 30px;
}

.step {
  width: 100%;
  height: 500px;
  padding: 10px 15px;
}
.step-intro {
  margin-top: 10px;
  margin-bottom: 20px;
}
.step-intro h3 {
  font-size: 16px;
  text-align: center;
  margin: 0px;
}
.step-intro p {
  line-height: 1.2em;
}
.step-img {
  width: 110px;
  margin: 0 auto;
}
.step-slider {
  position: relative;
  width: 100%;
  height: 5px;
  margin: 20px 0px;
  background-color: #303FA1;
}
.step-dot {
  position: absolute;
  top: -7px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #303FA1;
}
.step #dot-1 {
  left: 2%;
}
.step #dot-2 {
  left: 14.9%;
}
.step #dot-3 {
  left: 27.8%;
}
.step #dot-4 {
  left: 40.7%;
}
.step #dot-5 {
  left: 53.6%;
}
.step #dot-6 {
  left: 66.5%;
}
.step #dot-7 {
  left: 79.4%;
}
.step #dot-8 {
  left: 92%;
}
.step-tips h4 {
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 0.1em;
}
.step-tips ul li {
  list-style-position: inside;
  font-size: 12px;
  margin-bottom: 0.1em;
}
.step-tips a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 45px;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  color: white;
  background-color: #303FA1;
  border: 2px solid #111638;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.step-tips a:hover {
  background-color: #111638;
}
.step-tips a:active {
  outline: none;
  box-shadow: 0px 0px 5px #ccc inset;
}
.step-tips a:focus {
  outline: none;
}

@media (min-width: 420px) {
  .step-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .step {
    width: 100%;
    height: 500px;
    padding: 10px 15px;
  }
  .step-intro {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .step-intro h3 {
    font-size: 16px;
    text-align: center;
    margin: 0px;
  }
  .step-intro p {
    line-height: 1.2em;
  }
  .step-img {
    width: 140px;
    margin: 0 auto;
  }
}
@media (min-width: 740px) {
  .step-container {
    max-width: 600px;
    height: fit-content;
  }

  .step {
    width: 100%;
    padding: 10px 15px;
  }
  .step-intro {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .step-intro h3 {
    font-size: 18px;
    text-align: center;
    margin: 0px;
  }
  .step-intro p {
    line-height: 1.5em;
    font-size: 16px;
  }
  .step-img {
    width: 140px;
    margin: 0 auto;
  }
  .step-tips h4 {
    font-size: 16px;
  }
  .step-tips ul li {
    font-size: 14px;
  }
}
@media (min-width: 960px) {
  step {
    height: fit-content;
  }

  .step-container {
    max-width: 850px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .slick-arrow {
    color: black;
    background-color: black;
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
